.markdownEditor {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-180deg, #84316A, #732059);
    position: fixed;
}

.editor {
    height: 100%;
    width: 90%;
    padding-left: 5px;
    resize: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.editor:focus {
    outline: none;
}

.previewer {
    padding-left: 5px;
    overflow: scroll;
}

.editorArea {
    font-size: 20px;
}

.submitButton {
    background-color: #3d9137;
}