.base {
    color: white;
}

.background {
    position: fixed;
    background-image: linear-gradient(-180deg, #84316A, #732059);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.list {
    overflow: scroll;
}

.header {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.title {
    display: flex;
    align-items: center;/* 縦方向中央揃え */
    justify-content: center;/* 横方向中央揃え */
}

.center {
    display: flex;
    align-items: center;/* 縦方向中央揃え */
    justify-content: center;/* 横方向中央揃え */
}


