.topPage {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-180deg, #84316A, #732059);
}

.header {
    height: 40%;
}

.title {
    font-family: serif;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;/* 縦方向中央揃え */
    justify-content: center;/* 横方向中央揃え */
    font-size: 3em;
    margin-bottom: 0;
}

.link {
    width: 100%;
    height: 100%;
}

.icon {
    text-align: center;
    color: white;
}

